body {
	margin: 0;
	background: #f9f9f9;
	font-family: "PingFang SC", "Microsoft YaHei", "Source Han Sans SC", "Noto Sans CJK SC", "WenQuanYi Micro Hei", sans-serif;
}

.nav {
	width: 100%;
	padding: 2rem 0;
	background: #0a1922;
}

.nav-center {
	margin: 0 auto;
	max-width: 96rem;
	height: 37px;
}

.nav-logo {
	display: inline-block;
	margin-right: 2rem;
	padding-left: 2rem;
	opacity: 1;
	transition: opacity 0.15s ease-in;
}

.nav-logo:focus, .nav-logo:hover {
	opacity: 0.5;
	transition: opacity .15s ease-in;
}

.nav-logo a {
	color: #fff;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 37px;
	text-decoration: none;
}

.nav-list {
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.nav-list li {
	display: inline-block;
	margin-right: 2rem;
	opacity: 1;
	transition: opacity 0.15s ease-in;
}

.nav-list li:focus, .nav-list li:hover {
	opacity: 0.5;
	transition: opacity .15s ease-in;
}

.nav-list li a {
	color: #aaa;
	line-height: 37px;
}

.main-article {
	width: 100%;
	padding: 4rem 2rem 8rem 2rem;
	box-sizing: border-box;
}

.main-contain {
	display: flex;
}

.main-nav {
	width: 20%;
	height: 30rem;
	background: #f2f2f2;
}

.main-content {
	width: 45rem;
	max-width: 80%;
	padding: 0 6rem;
}